{% extends 'base.html' %}
{% block title%}
Delete a List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are you Sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
