{% extends 'base.html' %}

{% block nav %}{% endblock nav %}
{% block title %}My Lists{% endblock title%}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todo_list_create' %}">Create A New To-Do List</a></p>
        <p><a href="{% url 'todo_item_create' %}">Create A New To-Do List Item</a></p>
        <table>
            <theader>
                <tr>
                    <th>Name</th><th>Number of items</th>
                </tr>
            </theader>
            <tbody>
            {% for todo in todos %}
            <tr>
                <td><a href="{% url "todo_list_detail" todo.id %}">{{todo.name}}</a></td>
                <td>{{todo.items.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</main>
{% endblock content %}
