{% extends 'base.html' %}
{% block title%}
Edit your List Item
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Update List Item</h1>
        <form method="post">
            {% csrf_token %}
            {{ item_post_form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
